In [ ]:
pip install geopandas

In [2]:
import geopandas as gpd
import pandas as pd
from google.colab import files

In [3]:
# https://www1.nyc.gov/site/planning/data-maps/open-data/census-download-metadata.page -> 2020, water areas included
nyc = gpd.read_file('nyc.geojson')
print(nyc.head())

   OBJECTID  ...                                           geometry
0         1  ...  MULTIPOLYGON (((-74.04388 40.69020, -74.04351 ...
1         2  ...  POLYGON ((-73.98450 40.70952, -73.98655 40.709...
2         3  ...  MULTIPOLYGON (((-73.98364 40.70960, -73.98450 ...
3         4  ...  MULTIPOLYGON (((-74.01093 40.68450, -74.01193 ...
4         5  ...  POLYGON ((-73.99022 40.71441, -73.98934 40.714...

[5 rows x 15 columns]

In [4]:
print(nyc.keys())

Index(['OBJECTID', 'CTLabel', 'BoroCode', 'BoroName', 'CT2020', 'BoroCT2020',
       'CDEligibil', 'NTAName', 'NTA2020', 'CDTA2020', 'CDTANAME', 'GEOID',
       'Shape__Area', 'Shape__Length', 'geometry'],
      dtype='object')

In [5]:
nyc['BoroName']

0           Manhattan
1           Manhattan
2           Manhattan
3           Manhattan
4           Manhattan
            ...
2320    Staten Island
2321    Staten Island
2322    Staten Island
2323    Staten Island
2324    Staten Island
Name: BoroName, Length: 2325, dtype: object

In [6]:
manhattan = nyc[nyc["BoroName"].isin(["Manhattan"])]
manhattan.head(3)

   OBJECTID  ...                                           geometry
0         1  ...  MULTIPOLYGON (((-74.04388 40.69020, -74.04351 ...
1         2  ...  POLYGON ((-73.98450 40.70952, -73.98655 40.709...
2         3  ...  MULTIPOLYGON (((-73.98364 40.70960, -73.98450 ...

[3 rows x 15 columns]

In [15]:
# Restrict to CDTAs MN03
cdta = nyc[nyc["CDTA2020"].isin(["MN01", "MN02", "MN03"])]
cdta.head()

   OBJECTID  ...                                           geometry
0         1  ...  MULTIPOLYGON (((-74.04388 40.69020, -74.04351 ...
1         2  ...  POLYGON ((-73.98450 40.70952, -73.98655 40.709...
2         3  ...  MULTIPOLYGON (((-73.98364 40.70960, -73.98450 ...
3         4  ...  MULTIPOLYGON (((-74.01093 40.68450, -74.01193 ...
4         5  ...  POLYGON ((-73.99022 40.71441, -73.98934 40.714...

[5 rows x 15 columns]

In [ ]:
manhattan.to_file("manhattan.geojson", driver="GeoJSON")
files.download('manhattan.geojson')

In [ ]:
cdta.to_file("cdta.geojson", driver="GeoJSON")
files.download('cdta.geojson')