In [1]:
# !pip install geopandas

In [2]:
import geopandas as gpd
import pandas as pd

/Users/ilenapeng/.pyenv/versions/3.9.7/lib/python3.9/site-packages/pandas/compat/__init__.py:124: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [3]:
zcta = gpd.read_file('tl_2021_us_zcta520.json')

In [4]:
print(zcta.keys())

Index(['ZCTA5CE20', 'GEOID20', 'CLASSFP20', 'MTFCC20', 'FUNCSTAT20', 'ALAND20',
       'AWATER20', 'INTPTLAT20', 'INTPTLON20', 'geometry'],
      dtype='object')

In [5]:
print(zcta['ZCTA5CE20'])

0        47236
1        47870
2        47851
3        47337
4        47435
         ...
33786    37932
33787    37341
33788    37849
33789    37754
33790    37806
Name: ZCTA5CE20, Length: 33791, dtype: object

In [6]:
zcta_chinatown = zcta[(zcta.ZCTA5CE20 == '10013') | (zcta.ZCTA5CE20 == '10002')]
zcta_chinatown

,ZCTA5CE20,GEOID20,CLASSFP20,MTFCC20,FUNCSTAT20,ALAND20,AWATER20,INTPTLAT20,INTPTLON20,geometry
25580,10002,10002,B5,G6350,S,2129725,0,+40.7159693,-073.9868946,"POLYGON ((-73.99750 40.71407, -73.99730 40.713..."
25612,10013,10013,B5,G6350,S,1409917,0,+40.7200512,-074.0048091,"POLYGON ((-74.01109 40.72611, -74.01111 40.726..."

In [7]:
zcta_chinatown.to_file("zcta_chinatown.geojson", driver="GeoJSON")