In [ ]:
!pip install cenpy

In [3]:
import altair as alt
import cenpy as cen
import pandas as pd
import geopandas as gpd

from getpass import getpass
from google.colab import files

/usr/local/lib/python3.7/dist-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [4]:
CENSUS_API_KEY = getpass('Enter your Census API Key: ')

Enter your Census API Key: ··········

In [ ]:
# For changing output rows
# pd.set_option('display.max_rows', None)
# pd.set_option('display.max_rows', 10)

In [ ]:
acs = cen.products.ACS()

In [ ]:
acs.tables

In [ ]:
acs.filter_variables('B07204')

2019 data

In [6]:
con = cen.remote.APIConnection('ACSDT5Y2019',apikey=CENSUS_API_KEY)

# The columns to analyze
columns = [
'B07204_001E', #Estimate Total 
'B07204_002E', #Same house as last year 
'B07204_003E', #Different house as last year
'B07204_004E', #If different house as last year, moved within same city/town -- MOVED WITHIN NYC
'B07204_005E', #If moved within same city/town, in the same county still -- MOVED IN NYC, WITHIN MANHATTAN/NY COUNTY
'B07204_006E', #If moved within the same city/town, moved to a different county in the same state -- MOVED IN NYC, TO ANOTHER BOROUGH
'B07204_007E', #If different house as last year, moved ELSEWHERE (NOT same city/town) -- MOVED OUT OF NYC
'B07204_008E', #If different house as last year and moved ELSEWHERE, in same county -- MOVED OUT OF NYC, BUT IN MANHATTAN -- IMPOSSIBLE, SO THESE #S ARE ALL ZERO
'B07204_009E', #If different house as last year and moved ELSEWHERE, in different county -- MOVED OUT OF ALL NYC COUNTIES / OUT OF NY -- 7 & 9 ARE THE SAME
'B07204_010E', #If different house as last year and moved ELSEWHERE, in same state -- MOVED ELSEWHERE IN NY
'B07204_011E', #If different house as last year and moved ELSEWHERE, different state -- MOVED OUT OF NY STATE
]

# Pct out of the people in a different house as last year
 
g_unit = 'tract'
g_filter_manhattan = {'state':'36', 'county': '061'} 
# g_filter_queens = {'state':'36', 'county': '081'}

manhattanACS_19 = con.query(columns, geo_unit=g_unit, geo_filter=g_filter_manhattan)

In [7]:
#define tracts for communities
chinatown_tracts = ['002900', '004100', '001600']

#filter to those communities
chinatown_19 = manhattanACS_19[manhattanACS_19['tract'].isin(chinatown_tracts)]

In [8]:
chinatown_19.head(5)

    B07204_001E B07204_002E B07204_003E  ... state county   tract
25         6844        6420         407  ...    36    061  001600
51         7981        6499        1300  ...    36    061  004100
202        5794        4604        1149  ...    36    061  002900

[3 rows x 14 columns]

In [ ]:
#add identifier for year for when we combine datasets
chinatown_19['year'] = 2019

2018 data

In [10]:
con = cen.remote.APIConnection('ACSDT5Y2018',apikey=CENSUS_API_KEY)

# We then want to identify the columns we want to analyze.
columns = [
'B07204_001E', #Estimate Total 
'B07204_002E', #Same house as last year 
'B07204_003E', #Different house as last year
'B07204_004E', #If different house as last year, moved within same city/town
'B07204_005E', #If moved within same city/town, in the same county still
'B07204_006E', #If moved within the same city/town, moved to a different county in the same state
'B07204_007E', #If different house as last year, moved ELSEWHERE (NOT same city/town)
'B07204_008E', #If different house as last year and moved ELSEWHERE, in same county
'B07204_009E', #If different house as last year and moved ELSEWHERE, in different county 
'B07204_010E', #If different house as last year and moved ELSEWHERE, in same state 
'B07204_011E', #If different house as last year and moved ELSEWHERE, different state
]
 
g_unit = 'tract'
g_filter_manhattan = {'state':'36', 'county': '061'} 

manhattanACS_18 = con.query(columns, geo_unit=g_unit, geo_filter=g_filter_manhattan)

In [ ]:
#filter
chinatown_18 = manhattanACS_18[manhattanACS_18['tract'].isin(chinatown_tracts)]

#add identifier for year for when we combine datasets
chinatown_18['year'] = 2018

2017 data

In [12]:
con = cen.remote.APIConnection('ACSDT5Y2017',apikey=CENSUS_API_KEY)

# We then want to identify the columns we want to analyze.
columns = [
'B07204_001E', #Estimate Total 
'B07204_002E', #Same house as last year 
'B07204_003E', #Different house as last year
'B07204_004E', #If different house as last year, moved within same city/town
'B07204_005E', #If moved within same city/town, in the same county still
'B07204_006E', #If moved within the same city/town, moved to a different county in the same state
'B07204_007E', #If different house as last year, moved ELSEWHERE (NOT same city/town)
'B07204_008E', #If different house as last year and moved ELSEWHERE, in same county
'B07204_009E', #If different house as last year and moved ELSEWHERE, in different county 
'B07204_010E', #If different house as last year and moved ELSEWHERE, in same state 
'B07204_011E', #If different house as last year and moved ELSEWHERE, different state
]
 
g_unit = 'tract'
g_filter_manhattan = {'state':'36', 'county': '061'} 

manhattanACS_17 = con.query(columns, geo_unit=g_unit, geo_filter=g_filter_manhattan)

In [ ]:
#filter to only chinatown
chinatown_17 = manhattanACS_17[manhattanACS_17['tract'].isin(chinatown_tracts)]

#add identifier for year for when we combine datasets
chinatown_17['year'] = 2017

2016 data

In [14]:
con = cen.remote.APIConnection('ACSDT5Y2016',apikey=CENSUS_API_KEY)

# We then want to identify the columns we want to analyze.
columns = [
'B07204_001E', #Estimate Total 
'B07204_002E', #Same house as last year 
'B07204_003E', #Different house as last year
'B07204_004E', #If different house as last year, moved within same city/town
'B07204_005E', #If moved within same city/town, in the same county still
'B07204_006E', #If moved within the same city/town, moved to a different county in the same state
'B07204_007E', #If different house as last year, moved ELSEWHERE (NOT same city/town)
'B07204_008E', #If different house as last year and moved ELSEWHERE, in same county
'B07204_009E', #If different house as last year and moved ELSEWHERE, in different county 
'B07204_010E', #If different house as last year and moved ELSEWHERE, in same state 
'B07204_011E', #If different house as last year and moved ELSEWHERE, different state
]
 
g_unit = 'tract'
g_filter_manhattan = {'state':'36', 'county': '061'} 

manhattanACS_16 = con.query(columns, geo_unit=g_unit, geo_filter=g_filter_manhattan)

In [ ]:
#filter to only chinatown
chinatown_16 = manhattanACS_16[manhattanACS_16['tract'].isin(chinatown_tracts)]

#add identifier for year for when we combine datasets
chinatown_16['year'] = 2016

2015 data

In [20]:
con = cen.remote.APIConnection('ACSDT5Y2015',apikey=CENSUS_API_KEY)

# We then want to identify the columns we want to analyze.
columns = [
'B07204_001E', #Estimate Total 
'B07204_002E', #Same house as last year 
'B07204_003E', #Different house as last year
'B07204_004E', #If different house as last year, moved within same city/town
'B07204_005E', #If moved within same city/town, in the same county still
'B07204_006E', #If moved within the same city/town, moved to a different county in the same state
'B07204_007E', #If different house as last year, moved ELSEWHERE (NOT same city/town)
'B07204_008E', #If different house as last year and moved ELSEWHERE, in same county
'B07204_009E', #If different house as last year and moved ELSEWHERE, in different county 
'B07204_010E', #If different house as last year and moved ELSEWHERE, in same state 
'B07204_011E', #If different house as last year and moved ELSEWHERE, different state
]
 
g_unit = 'tract'
g_filter_manhattan = {'state':'36', 'county': '061'} 

manhattanACS_15 = con.query(columns, geo_unit=g_unit, geo_filter=g_filter_manhattan)

In [ ]:
#filter to only chinatown
chinatown_15 = manhattanACS_15[manhattanACS_15['tract'].isin(chinatown_tracts)]

#add identifier for year for when we combine datasets
chinatown_15['year'] = 2015

2014 data

In [ ]:
con = cen.remote.APIConnection('ACSDT5Y2014',apikey=CENSUS_API_KEY)

# We then want to identify the columns we want to analyze.
columns = [
'B07204_001E', #Estimate Total 
'B07204_002E', #Same house as last year 
'B07204_003E', #Different house as last year
'B07204_004E', #If different house as last year, moved within same city/town
'B07204_005E', #If moved within same city/town, in the same county still
'B07204_006E', #If moved within the same city/town, moved to a different county in the same state
'B07204_007E', #If different house as last year, moved ELSEWHERE (NOT same city/town)
'B07204_008E', #If different house as last year and moved ELSEWHERE, in same county
'B07204_009E', #If different house as last year and moved ELSEWHERE, in different county 
'B07204_010E', #If different house as last year and moved ELSEWHERE, in same state 
'B07204_011E', #If different house as last year and moved ELSEWHERE, different state
]
 
g_unit = 'tract'
g_filter_manhattan = {'state':'36', 'county': '061'} 

manhattanACS_14 = con.query(columns, geo_unit=g_unit, geo_filter=g_filter_manhattan)

#filter to only chinatown
chinatown_14 = manhattanACS_14[manhattanACS_14['tract'].isin(chinatown_tracts)]

#add identifier for year for when we combine datasets
chinatown_14['year'] = 2014

2013 data

In [24]:
con = cen.remote.APIConnection('ACSDT5Y2013',apikey=CENSUS_API_KEY)

# We then want to identify the columns we want to analyze.
columns = [
'B07204_001E', #Estimate Total 
'B07204_002E', #Same house as last year 
'B07204_003E', #Different house as last year
'B07204_004E', #If different house as last year, moved within same city/town
'B07204_005E', #If moved within same city/town, in the same county still
'B07204_006E', #If moved within the same city/town, moved to a different county in the same state
'B07204_007E', #If different house as last year, moved ELSEWHERE (NOT same city/town)
'B07204_008E', #If different house as last year and moved ELSEWHERE, in same county
'B07204_009E', #If different house as last year and moved ELSEWHERE, in different county 
'B07204_010E', #If different house as last year and moved ELSEWHERE, in same state 
'B07204_011E', #If different house as last year and moved ELSEWHERE, different state
]
 
g_unit = 'tract'
g_filter_manhattan = {'state':'36', 'county': '061'} 

manhattanACS_13 = con.query(columns, geo_unit=g_unit, geo_filter=g_filter_manhattan)

#filter to only chinatown
chinatown_13 = manhattanACS_13[manhattanACS_13['tract'].isin(chinatown_tracts)]

#add identifier for year for when we combine datasets
chinatown_13['year'] = 2013

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

2012 data

In [ ]:
con = cen.remote.APIConnection('ACSDT5Y2012',apikey=CENSUS_API_KEY)

# We then want to identify the columns we want to analyze.
columns = [
'B07204_001E', #Estimate Total 
'B07204_002E', #Same house as last year 
'B07204_003E', #Different house as last year
'B07204_004E', #If different house as last year, moved within same city/town
'B07204_005E', #If moved within same city/town, in the same county still
'B07204_006E', #If moved within the same city/town, moved to a different county in the same state
'B07204_007E', #If different house as last year, moved ELSEWHERE (NOT same city/town)
'B07204_008E', #If different house as last year and moved ELSEWHERE, in same county
'B07204_009E', #If different house as last year and moved ELSEWHERE, in different county 
'B07204_010E', #If different house as last year and moved ELSEWHERE, in same state 
'B07204_011E', #If different house as last year and moved ELSEWHERE, different state
]
 
g_unit = 'tract'
g_filter_manhattan = {'state':'36', 'county': '061'} 

manhattanACS_12 = con.query(columns, geo_unit=g_unit, geo_filter=g_filter_manhattan)

#filter to only chinatown
chinatown_12 = manhattanACS_12[manhattanACS_12['tract'].isin(chinatown_tracts)]

#add identifier for year for when we combine datasets
chinatown_12['year'] = 2012

2011 data

In [ ]:
con = cen.remote.APIConnection('ACSDT5Y2011',apikey=CENSUS_API_KEY)

# We then want to identify the columns we want to analyze.
columns = [
'B07204_001E', #Estimate Total 
'B07204_002E', #Same house as last year 
'B07204_003E', #Different house as last year
'B07204_004E', #If different house as last year, moved within same city/town
'B07204_005E', #If moved within same city/town, in the same county still
'B07204_006E', #If moved within the same city/town, moved to a different county in the same state
'B07204_007E', #If different house as last year, moved ELSEWHERE (NOT same city/town)
'B07204_008E', #If different house as last year and moved ELSEWHERE, in same county
'B07204_009E', #If different house as last year and moved ELSEWHERE, in different county 
'B07204_010E', #If different house as last year and moved ELSEWHERE, in same state 
'B07204_011E', #If different house as last year and moved ELSEWHERE, different state
]
 
g_unit = 'tract'
g_filter_manhattan = {'state':'36', 'county': '061'} 

manhattanACS_11 = con.query(columns, geo_unit=g_unit, geo_filter=g_filter_manhattan)

#filter to only chinatown
chinatown_11 = manhattanACS_11[manhattanACS_11['tract'].isin(chinatown_tracts)]

#add identifier for year for when we combine datasets
chinatown_11['year'] = 2011

2010 data

In [ ]:
con = cen.remote.APIConnection('ACSDT5Y2010',apikey=CENSUS_API_KEY)

# We then want to identify the columns we want to analyze.
columns = [
'B07204_001E', #Estimate Total 
'B07204_002E', #Same house as last year 
'B07204_003E', #Different house as last year
'B07204_004E', #If different house as last year, moved within same city/town
'B07204_005E', #If moved within same city/town, in the same county still
'B07204_006E', #If moved within the same city/town, moved to a different county in the same state
'B07204_007E', #If different house as last year, moved ELSEWHERE (NOT same city/town)
'B07204_008E', #If different house as last year and moved ELSEWHERE, in same county
'B07204_009E', #If different house as last year and moved ELSEWHERE, in different county 
'B07204_010E', #If different house as last year and moved ELSEWHERE, in same state 
'B07204_011E', #If different house as last year and moved ELSEWHERE, different state
]
 
g_unit = 'tract'
g_filter_manhattan = {'state':'36', 'county': '061'} 

manhattanACS_10 = con.query(columns, geo_unit=g_unit, geo_filter=g_filter_manhattan)

#filter to only chinatown
chinatown_10 = manhattanACS_10[manhattanACS_10['tract'].isin(chinatown_tracts)]

#add identifier for year for when we combine datasets
chinatown_10['year'] = 2010

Full data

In [47]:
dfs = [chinatown_10, chinatown_11, chinatown_12, chinatown_13, chinatown_14, chinatown_15, chinatown_16, chinatown_17, chinatown_18, chinatown_19]
chinatown_tracts = pd.concat(dfs, ignore_index = True)

#rename columns at the end
# chinatown_tracts=chinatown_tracts.rename(columns = {
#     'B07204_001E':'total',
#     'B07204_002E':'samehouse',
#     'B07204_003E': 'diffhouse',
#     'B07204_004E':'samecity',
#     'B07204_005E':'samecity_samecounty',
#     'B07204_006E':'samecity_diffcounty',
#     'B07204_007E':'elsewhere',
#     'B07204_008E':'same_county',
#     'B07204_009E': 'diff_county', 
#     'B07204_010E':'same_state', 
#     'B07204_011E':'diff_state', 
#     })

chinatown_tracts.head(5)

  B07204_001E B07204_002E B07204_003E B07204_004E  ... state county   tract  year
0        7885        7098         557         400  ...    36    061  001600  2010
1        6894        5806         997         685  ...    36    061  002900  2010
2        8274        6654        1540         959  ...    36    061  004100  2010
3        6791        5668        1066         717  ...    36    061  002900  2011
4        7452        6181        1186         841  ...    36    061  004100  2011

[5 rows x 15 columns]

In [ ]:
#convert all to numeric
chinatown_tracts = chinatown_tracts[chinatown_tracts.columns].astype(int)

# chinatown_tracts = chinatown_tracts.astype({
#     'total': 'int', 
#     'samehouse': 'int',
#     'diffhouse': 'int',
#     'same_city': 'int',
#     'same_county': 'int', # don't need this actually, because it's 0 in all fields (maybe bc NYC == NY County?)
#     'diff_county': 'int',
#     'same_state': 'int',
#     'diff_state': 'int',
#     })

chinatown_tracts.head(5)

In [ ]:
# chinatown_tracts.to_csv('chinatown_tracts.csv')
# files.download('chinatown_tracts.csv')

In [49]:
# collapse data by year, group the census tracts
chinatown = chinatown_tracts.groupby(['year'])[chinatown_tracts.columns[:11]].sum().reset_index()
chinatown.head(5)

   year  B07204_001E  B07204_002E  ...  B07204_009E  B07204_010E  B07204_011E
0  2010        23053        19558  ...         1050          232          818
1  2011        22065        18840  ...          849          241          608
2  2012        21165        18146  ...          697          232          465
3  2013        21757        18866  ...          655          279          376
4  2014        20904        18106  ...          521          170          351

[5 rows x 12 columns]

In [50]:
# create percent variables

# Of all the people who moved, this percent stayed IN NYC
chinatown['same_city_pct'] = (chinatown['B07204_004E']/chinatown['B07204_003E'])*100
# Of all the people who moved, this percent moved OUT of NYC
chinatown['elsewhere_pct'] = (chinatown['B07204_007E']/chinatown['B07204_003E'])*100

# Of the people moving IN NYC, this percent STAYED IN MANHATTAN
chinatown['in_manhattan_pct'] = (chinatown['B07204_005E']/chinatown['B07204_004E'])*100
# Of the people moving IN NYC, this percent MOVED TO ANOTHER BOROUGH
chinatown['in_nyc_pct'] = (chinatown['B07204_006E']/chinatown['B07204_004E'])*100

# Of the people who LEFT NYC, this percent moved elsewhere in NY
chinatown['in_ny_pct'] = (chinatown['B07204_010E']/chinatown['B07204_007E'])*100
# Of the people who LEFT NYC, this percent moved out of state
chinatown['diff_state_pct'] = (chinatown['B07204_011E']/chinatown['B07204_007E'])*100
chinatown.head(5)

   year  B07204_001E  B07204_002E  ...  in_nyc_pct  in_ny_pct  diff_state_pct
0  2010        23053        19558  ...   20.156556  22.095238       77.904762
1  2011        22065        18840  ...   21.653543  28.386337       71.613663
2  2012        21165        18146  ...   19.662625  33.285509       66.714491
3  2013        21757        18866  ...   28.014941  42.595420       57.404580
4  2014        20904        18106  ...   34.916352  32.629559       67.370441

[5 rows x 18 columns]

In [ ]:
# chinatown.to_csv('chinatown.csv')
# files.download('chinatown.csv')