In [ ]:
#Install cenpy
!pip install cenpy

In [ ]:
#Setup
import altair as alt
import cenpy as cen
import pandas as pd
import geopandas as gpd
import numpy as np

from google.colab import files

In [3]:
#Load county data
all = pd.read_csv("county.csv")
df = all[['GEO_ID','NAME','P1_001N','P1_006N']]

#Remove first row, which has alternative column names
df = df.iloc[1: , :]

#Convert 001N(Total) & 006(Asian) to int
df['P1_001N'] = df['P1_001N'].astype(int)
df['P1_006N'] = df['P1_006N'].astype(int)

In [4]:
#Create new variables in county
#Make percent variable
df['PCT'] = (df['P1_006N']/df['P1_001N'])*100

#Separate name into county and state variables
df['COUNTY'] = df['NAME'].str.split(',').apply(lambda x: x[0])

#Make state variable
df['STATE'] = df['NAME'].str.split(',').apply(lambda x: x[1])

#Strip extra spaces
df['STATE']=df['STATE'].str.strip()

In [5]:
#Load state data
all_state = pd.read_csv("state.csv")
state = all_state[['GEO_ID','NAME','P1_001N','P1_006N']]

#Remove first row, which has alternative column names
state = state.iloc[1: , :]

#Duplicate NAME variable as state
state['STATE'] = state['NAME']

#Strip extra spaces
state['STATE'] = state['STATE'].str.strip()

#Convert variable types
state['P1_001N'] = state['P1_001N'].astype(int)
state['P1_006N'] = state['P1_006N'].astype(int)

#Make percent variable and convert type
state['PCT_STATE'] = (state['P1_006N']/state['P1_001N'])*100
#state['PCT_STATE'] = state['PCT_STATE'].astype(int)

#Creating dataset with only state and percent for merge
state_pct = state[['STATE','PCT_STATE']]
state_pct

                   STATE  PCT_STATE
1                Alabama   1.525791
2                 Alaska   6.003892
3                Arizona   3.599663
4               Arkansas   1.721354
5             California  15.392566
6               Colorado   3.460978
7            Connecticut   4.782520
8               Delaware   4.313257
9   District of Columbia   4.864802
10               Florida   2.988562
11               Georgia   4.471920
12                Hawaii  37.237188
13                 Idaho   1.459187
14              Illinois   5.891727
15               Indiana   2.475253
16                  Iowa   2.370541
17                Kansas   2.936573
18              Kentucky   1.651769
19             Louisiana   1.855786
20                 Maine   1.233008
21              Maryland   6.814453
22         Massachusetts   7.225320
23              Michigan   3.317347
24             Minnesota   5.242974
25           Mississippi   1.104557
26              Missouri   2.167001
27               Montana   0.765524
28              Nebraska   2.699510
29                Nevada   8.783797
30         New Hampshire   2.604011
31            New Jersey  10.228126
32            New Mexico   1.769474
33              New York   9.569344
34        North Carolina   3.286122
35          North Dakota   1.695944
36                  Ohio   2.529856
37              Oklahoma   2.297067
38                Oregon   4.591132
39          Pennsylvania   3.926115
40          Rhode Island   3.550369
41        South Carolina   1.767458
42          South Dakota   1.519849
43             Tennessee   1.962352
44                 Texas   5.439878
45                  Utah   2.458663
46               Vermont   1.795897
47              Virginia   7.130205
48            Washington   9.481757
49         West Virginia   0.842330
50             Wisconsin   2.981174
51               Wyoming   0.903526
52           Puerto Rico   0.121764

In [6]:
#Test matches for merge
df['STATE'].isin(state_pct['STATE']).value_counts()

True    3221
Name: STATE, dtype: int64

In [7]:
#Merge in state averages
df_merge = pd.merge(df, state_pct, how="outer", on='STATE')
df_merge

              GEO_ID                              NAME  ...        STATE  PCT_STATE
0     0500000US01001           Autauga County, Alabama  ...      Alabama   1.525791
1     0500000US01003           Baldwin County, Alabama  ...      Alabama   1.525791
2     0500000US01005           Barbour County, Alabama  ...      Alabama   1.525791
3     0500000US01007              Bibb County, Alabama  ...      Alabama   1.525791
4     0500000US01009            Blount County, Alabama  ...      Alabama   1.525791
...              ...                               ...  ...          ...        ...
3216  0500000US72145  Vega Baja Municipio, Puerto Rico  ...  Puerto Rico   0.121764
3217  0500000US72147    Vieques Municipio, Puerto Rico  ...  Puerto Rico   0.121764
3218  0500000US72149   Villalba Municipio, Puerto Rico  ...  Puerto Rico   0.121764
3219  0500000US72151    Yabucoa Municipio, Puerto Rico  ...  Puerto Rico   0.121764
3220  0500000US72153      Yauco Municipio, Puerto Rico  ...  Puerto Rico   0.121764

[3221 rows x 8 columns]

In [8]:
#Filter by greater than national average (~7.2%)
aboveavg_natl = df_merge[df_merge['PCT']>7.2]
aboveavg_natl

              GEO_ID                                NAME  ...       STATE  PCT_STATE
67    0500000US02013      Aleutians East Borough, Alaska  ...      Alaska   6.003892
68    0500000US02016  Aleutians West Census Area, Alaska  ...      Alaska   6.003892
69    0500000US02020      Anchorage Municipality, Alaska  ...      Alaska   6.003892
72    0500000US02063         Chugach Census Area, Alaska  ...      Alaska   6.003892
81    0500000US02130   Ketchikan Gateway Borough, Alaska  ...      Alaska   6.003892
...              ...                                 ...  ...         ...        ...
2936  0500000US51685        Manassas Park city, Virginia  ...    Virginia   7.130205
2950  0500000US51810       Virginia Beach city, Virginia  ...    Virginia   7.130205
2970  0500000US53033             King County, Washington  ...  Washington   9.481757
2984  0500000US53061        Snohomish County, Washington  ...  Washington   9.481757
2991  0500000US53075          Whitman County, Washington  ...  Washington   9.481757

[94 rows x 8 columns]

In [20]:
aboveavg_natl['PCT_DIFF'] = aboveavg_natl['PCT'] - 7.2
aboveavg_natl.sort_values('PCT_DIFF', ascending=False).head(25)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

              GEO_ID                                NAME  ...  PCT_STATE   PCT_DIFF
548   0500000US15003             Honolulu County, Hawaii  ...  37.237188  35.775855
229   0500000US06085      Santa Clara County, California  ...  15.392566  32.000851
224   0500000US06075    San Francisco County, California  ...  15.392566  26.726416
187   0500000US06001          Alameda County, California  ...  15.392566  25.210618
227   0500000US06081        San Mateo County, California  ...  15.392566  22.918963
68    0500000US02016  Aleutians West Census Area, Alaska  ...   6.003892  21.718196
550   0500000US15007                Kauai County, Hawaii  ...  37.237188  21.589326
1869  0500000US36081             Queens County, New York  ...   9.569344  20.263766
551   0500000US15009                 Maui County, Hawaii  ...  37.237188  19.705568
1786  0500000US34023        Middlesex County, New Jersey  ...  10.228126  19.308697
67    0500000US02013      Aleutians East Borough, Alaska  ...   6.003892  15.343860
2602  0500000US48157             Fort Bend County, Texas  ...   5.439878  14.985423
216   0500000US06059           Orange County, California  ...  15.392566  14.978081
82    0500000US02150       Kodiak Island Borough, Alaska  ...   6.003892  14.195313
2873  0500000US51107            Loudoun County, Virginia  ...   7.130205  14.127255
2849  0500000US51059            Fairfax County, Virginia  ...   7.130205  13.233640
1206  0500000US24027             Howard County, Maryland  ...   6.814453  12.747219
2970  0500000US53033             King County, Washington  ...   9.481757  12.735674
547   0500000US15001               Hawaii County, Hawaii  ...  37.237188  12.541413
1792  0500000US34035         Somerset County, New Jersey  ...  10.228126  12.289462
2925  0500000US51600              Fairfax city, Virginia  ...   7.130205  11.589862
193   0500000US06013     Contra Costa County, California  ...  15.392566  11.482387
237   0500000US06101           Sutter County, California  ...  15.392566  11.101165
445   0500000US13117             Forsyth County, Georgia  ...   4.471920  10.788881
225   0500000US06077      San Joaquin County, California  ...  15.392566  10.679505

[25 rows x 9 columns]

In [10]:
#Filter by greater than their state average
aboveavg_state = df_merge.query('PCT > PCT_STATE')
aboveavg_state

              GEO_ID                              NAME  ...        STATE  PCT_STATE
15    0500000US01031            Coffee County, Alabama  ...      Alabama   1.525791
36    0500000US01073         Jefferson County, Alabama  ...      Alabama   1.525791
40    0500000US01081               Lee County, Alabama  ...      Alabama   1.525791
41    0500000US01083         Limestone County, Alabama  ...      Alabama   1.525791
44    0500000US01089           Madison County, Alabama  ...      Alabama   1.525791
...              ...                               ...  ...          ...        ...
3190  0500000US72093    Maricao Municipio, Puerto Rico  ...  Puerto Rico   0.121764
3192  0500000US72097   Mayagüez Municipio, Puerto Rico  ...  Puerto Rico   0.121764
3207  0500000US72127   San Juan Municipio, Puerto Rico  ...  Puerto Rico   0.121764
3212  0500000US72137   Toa Baja Municipio, Puerto Rico  ...  Puerto Rico   0.121764
3215  0500000US72143  Vega Alta Municipio, Puerto Rico  ...  Puerto Rico   0.121764

[324 rows x 8 columns]

In [16]:
aboveavg_state['PCT_DIFF'] = aboveavg_state['PCT'] - aboveavg_state['PCT_STATE']
aboveavg_state.sort_values('PCT_DIFF', ascending=False).head(25)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

              GEO_ID                                NAME  ...  PCT_STATE   PCT_DIFF
229   0500000US06085      Santa Clara County, California  ...  15.392566  23.808285
68    0500000US02016  Aleutians West Census Area, Alaska  ...   6.003892  22.914304
224   0500000US06075    San Francisco County, California  ...  15.392566  18.533850
1869  0500000US36081             Queens County, New York  ...   9.569344  17.894422
187   0500000US06001          Alameda County, California  ...  15.392566  17.018052
2602  0500000US48157             Fort Bend County, Texas  ...   5.439878  16.745545
67    0500000US02013      Aleutians East Borough, Alaska  ...   6.003892  16.539968
1786  0500000US34023        Middlesex County, New Jersey  ...  10.228126  16.280571
82    0500000US02150       Kodiak Island Borough, Alaska  ...   6.003892  15.391422
227   0500000US06081        San Mateo County, California  ...  15.392566  14.726397
2873  0500000US51107            Loudoun County, Virginia  ...   7.130205  14.197050
445   0500000US13117             Forsyth County, Georgia  ...   4.471920  13.516961
2849  0500000US51059            Fairfax County, Virginia  ...   7.130205  13.303435
1206  0500000US24027             Howard County, Maryland  ...   6.814453  13.132766
2566  0500000US48085                Collin County, Texas  ...   5.439878  12.335154
2925  0500000US51600              Fairfax city, Virginia  ...   7.130205  11.659657
2970  0500000US53033             King County, Washington  ...   9.481757  10.453917
1376  0500000US27123            Ramsey County, Minnesota  ...   5.242974  10.341110
2364  0500000US46005         Beadle County, South Dakota  ...   1.519849   9.295337
1792  0500000US34035         Somerset County, New Jersey  ...  10.228126   9.261336
454   0500000US13135            Gwinnett County, Georgia  ...   4.471920   8.813739
1208  0500000US24031         Montgomery County, Maryland  ...   6.814453   8.580802
1783  0500000US34017           Hudson County, New Jersey  ...  10.228126   6.955335
617   0500000US17043             DuPage County, Illinois  ...   5.891727   6.936545
2242  0500000US41067           Washington County, Oregon  ...   4.591132   6.919399

[25 rows x 9 columns]

In [17]:
#Exporting files
df_merge.to_csv('df.csv') 
files.download('df.csv')

In [18]:
aboveavg_natl.to_csv('aboveavg_natl.csv') 
files.download('aboveavg_natl.csv')

In [19]:
aboveavg_state.to_csv('aboveavg_state.csv') 
files.download('aboveavg_state.csv')