In [ ]:
#Install cenpy
#!pip install cenpy

In [2]:
#Setup
#import altair as alt
#import cenpy as cen
import pandas as pd
import geopandas as gpd
import numpy as np

from google.colab import files

In [149]:
#Load county data
all = pd.read_csv("county.csv")
df = all[['GEO_ID','NAME','P1_001N','P1_006N']]

#Remove first row, which has alternative column names
df = df.iloc[1: , :]

#Convert 001N(Total) & 006(Asian) to int
df['P1_001N'] = df['P1_001N'].astype(float)
df['P1_006N'] = df['P1_006N'].astype(float)

In [150]:
#Create new variables in county
#Make percent variable
df['PCT'] = (df['P1_006N']/df['P1_001N'])*100

#Separate name into county and state variables
df['COUNTY'] = df['NAME'].str.split(',').apply(lambda x: x[0])

#Make state variable
df['STATE'] = df['NAME'].str.split(',').apply(lambda x: x[1])

#Strip extra spaces
df['STATE']=df['STATE'].str.strip()

In [152]:
#Load state data
all_state = pd.read_csv("state.csv")
state = all_state[['GEO_ID','NAME','P1_001N','P1_006N']]

#Remove first row, which has alternative column names
state = state.iloc[1: , :]

#Duplicate NAME variable as state
state['STATE'] = state['NAME']

#Strip extra spaces
state['STATE'] = state['STATE'].str.strip()

#Convert variable types
state['P1_001N'] = state['P1_001N'].astype(float)
state['P1_006N'] = state['P1_006N'].astype(float)

#Make percent variable and convert type
state['PCT_STATE'] = (state['P1_006N']/state['P1_001N'])*100
#state['PCT_STATE'] = state['PCT_STATE'].astype(int)

#Creating dataset with only state and percent for merge
state_pct = state[['STATE','PCT_STATE']]
state_pct

                   STATE  PCT_STATE
1                Alabama   1.525791
2                 Alaska   6.003892
3                Arizona   3.599663
4               Arkansas   1.721354
5             California  15.392566
6               Colorado   3.460978
7            Connecticut   4.782520
8               Delaware   4.313257
9   District of Columbia   4.864802
10               Florida   2.988562
11               Georgia   4.471920
12                Hawaii  37.237188
13                 Idaho   1.459187
14              Illinois   5.891727
15               Indiana   2.475253
16                  Iowa   2.370541
17                Kansas   2.936573
18              Kentucky   1.651769
19             Louisiana   1.855786
20                 Maine   1.233008
21              Maryland   6.814453
22         Massachusetts   7.225320
23              Michigan   3.317347
24             Minnesota   5.242974
25           Mississippi   1.104557
26              Missouri   2.167001
27               Montana   0.765524
28              Nebraska   2.699510
29                Nevada   8.783797
30         New Hampshire   2.604011
31            New Jersey  10.228126
32            New Mexico   1.769474
33              New York   9.569344
34        North Carolina   3.286122
35          North Dakota   1.695944
36                  Ohio   2.529856
37              Oklahoma   2.297067
38                Oregon   4.591132
39          Pennsylvania   3.926115
40          Rhode Island   3.550369
41        South Carolina   1.767458
42          South Dakota   1.519849
43             Tennessee   1.962352
44                 Texas   5.439878
45                  Utah   2.458663
46               Vermont   1.795897
47              Virginia   7.130205
48            Washington   9.481757
49         West Virginia   0.842330
50             Wisconsin   2.981174
51               Wyoming   0.903526
52           Puerto Rico   0.121764

In [153]:
#Test matches for merge
df['STATE'].isin(state_pct['STATE']).value_counts()

True    3221
Name: STATE, dtype: int64

In [154]:
#Merge in state averages
df_merge = pd.merge(df, state_pct, how="outer", on='STATE')
df_merge

              GEO_ID                              NAME  ...        STATE  PCT_STATE
0     0500000US01001           Autauga County, Alabama  ...      Alabama   1.525791
1     0500000US01003           Baldwin County, Alabama  ...      Alabama   1.525791
2     0500000US01005           Barbour County, Alabama  ...      Alabama   1.525791
3     0500000US01007              Bibb County, Alabama  ...      Alabama   1.525791
4     0500000US01009            Blount County, Alabama  ...      Alabama   1.525791
...              ...                               ...  ...          ...        ...
3216  0500000US72145  Vega Baja Municipio, Puerto Rico  ...  Puerto Rico   0.121764
3217  0500000US72147    Vieques Municipio, Puerto Rico  ...  Puerto Rico   0.121764
3218  0500000US72149   Villalba Municipio, Puerto Rico  ...  Puerto Rico   0.121764
3219  0500000US72151    Yabucoa Municipio, Puerto Rico  ...  Puerto Rico   0.121764
3220  0500000US72153      Yauco Municipio, Puerto Rico  ...  Puerto Rico   0.121764

[3221 rows x 8 columns]

In [155]:
#Filter by greater than national average (~7.2%)
aboveavg_natl = df_merge[df_merge['PCT']>7.2]
aboveavg_natl

              GEO_ID                                NAME  ...       STATE  PCT_STATE
67    0500000US02013      Aleutians East Borough, Alaska  ...      Alaska   6.003892
68    0500000US02016  Aleutians West Census Area, Alaska  ...      Alaska   6.003892
69    0500000US02020      Anchorage Municipality, Alaska  ...      Alaska   6.003892
72    0500000US02063         Chugach Census Area, Alaska  ...      Alaska   6.003892
81    0500000US02130   Ketchikan Gateway Borough, Alaska  ...      Alaska   6.003892
...              ...                                 ...  ...         ...        ...
2936  0500000US51685        Manassas Park city, Virginia  ...    Virginia   7.130205
2950  0500000US51810       Virginia Beach city, Virginia  ...    Virginia   7.130205
2970  0500000US53033             King County, Washington  ...  Washington   9.481757
2984  0500000US53061        Snohomish County, Washington  ...  Washington   9.481757
2991  0500000US53075          Whitman County, Washington  ...  Washington   9.481757

[94 rows x 8 columns]

In [156]:
aboveavg_natl['PCT_DIFF'] = aboveavg_natl['PCT'] - 7.2
aboveavg_natl.sort_values('PCT_DIFF', ascending=False).head(25)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

              GEO_ID                                NAME  ...  PCT_STATE   PCT_DIFF
548   0500000US15003             Honolulu County, Hawaii  ...  37.237188  35.775855
229   0500000US06085      Santa Clara County, California  ...  15.392566  32.000851
224   0500000US06075    San Francisco County, California  ...  15.392566  26.726416
187   0500000US06001          Alameda County, California  ...  15.392566  25.210618
227   0500000US06081        San Mateo County, California  ...  15.392566  22.918963
68    0500000US02016  Aleutians West Census Area, Alaska  ...   6.003892  21.718196
550   0500000US15007                Kauai County, Hawaii  ...  37.237188  21.589326
1869  0500000US36081             Queens County, New York  ...   9.569344  20.263766
551   0500000US15009                 Maui County, Hawaii  ...  37.237188  19.705568
1786  0500000US34023        Middlesex County, New Jersey  ...  10.228126  19.308697
67    0500000US02013      Aleutians East Borough, Alaska  ...   6.003892  15.343860
2602  0500000US48157             Fort Bend County, Texas  ...   5.439878  14.985423
216   0500000US06059           Orange County, California  ...  15.392566  14.978081
82    0500000US02150       Kodiak Island Borough, Alaska  ...   6.003892  14.195313
2873  0500000US51107            Loudoun County, Virginia  ...   7.130205  14.127255
2849  0500000US51059            Fairfax County, Virginia  ...   7.130205  13.233640
1206  0500000US24027             Howard County, Maryland  ...   6.814453  12.747219
2970  0500000US53033             King County, Washington  ...   9.481757  12.735674
547   0500000US15001               Hawaii County, Hawaii  ...  37.237188  12.541413
1792  0500000US34035         Somerset County, New Jersey  ...  10.228126  12.289462
2925  0500000US51600              Fairfax city, Virginia  ...   7.130205  11.589862
193   0500000US06013     Contra Costa County, California  ...  15.392566  11.482387
237   0500000US06101           Sutter County, California  ...  15.392566  11.101165
445   0500000US13117             Forsyth County, Georgia  ...   4.471920  10.788881
225   0500000US06077      San Joaquin County, California  ...  15.392566  10.679505

[25 rows x 9 columns]

In [157]:
#Filter by greater than their state average
aboveavg_state = df_merge.query('PCT > PCT_STATE')
aboveavg_state

              GEO_ID                              NAME  ...        STATE  PCT_STATE
15    0500000US01031            Coffee County, Alabama  ...      Alabama   1.525791
36    0500000US01073         Jefferson County, Alabama  ...      Alabama   1.525791
40    0500000US01081               Lee County, Alabama  ...      Alabama   1.525791
41    0500000US01083         Limestone County, Alabama  ...      Alabama   1.525791
44    0500000US01089           Madison County, Alabama  ...      Alabama   1.525791
...              ...                               ...  ...          ...        ...
3190  0500000US72093    Maricao Municipio, Puerto Rico  ...  Puerto Rico   0.121764
3192  0500000US72097   Mayagüez Municipio, Puerto Rico  ...  Puerto Rico   0.121764
3207  0500000US72127   San Juan Municipio, Puerto Rico  ...  Puerto Rico   0.121764
3212  0500000US72137   Toa Baja Municipio, Puerto Rico  ...  Puerto Rico   0.121764
3215  0500000US72143  Vega Alta Municipio, Puerto Rico  ...  Puerto Rico   0.121764

[324 rows x 8 columns]

In [158]:
aboveavg_state['PCT_DIFF'] = aboveavg_state['PCT'] - aboveavg_state['PCT_STATE']
aboveavg_state.sort_values('PCT_DIFF', ascending=False).head(25)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

              GEO_ID                                NAME  ...  PCT_STATE   PCT_DIFF
229   0500000US06085      Santa Clara County, California  ...  15.392566  23.808285
68    0500000US02016  Aleutians West Census Area, Alaska  ...   6.003892  22.914304
224   0500000US06075    San Francisco County, California  ...  15.392566  18.533850
1869  0500000US36081             Queens County, New York  ...   9.569344  17.894422
187   0500000US06001          Alameda County, California  ...  15.392566  17.018052
2602  0500000US48157             Fort Bend County, Texas  ...   5.439878  16.745545
67    0500000US02013      Aleutians East Borough, Alaska  ...   6.003892  16.539968
1786  0500000US34023        Middlesex County, New Jersey  ...  10.228126  16.280571
82    0500000US02150       Kodiak Island Borough, Alaska  ...   6.003892  15.391422
227   0500000US06081        San Mateo County, California  ...  15.392566  14.726397
2873  0500000US51107            Loudoun County, Virginia  ...   7.130205  14.197050
445   0500000US13117             Forsyth County, Georgia  ...   4.471920  13.516961
2849  0500000US51059            Fairfax County, Virginia  ...   7.130205  13.303435
1206  0500000US24027             Howard County, Maryland  ...   6.814453  13.132766
2566  0500000US48085                Collin County, Texas  ...   5.439878  12.335154
2925  0500000US51600              Fairfax city, Virginia  ...   7.130205  11.659657
2970  0500000US53033             King County, Washington  ...   9.481757  10.453917
1376  0500000US27123            Ramsey County, Minnesota  ...   5.242974  10.341110
2364  0500000US46005         Beadle County, South Dakota  ...   1.519849   9.295337
1792  0500000US34035         Somerset County, New Jersey  ...  10.228126   9.261336
454   0500000US13135            Gwinnett County, Georgia  ...   4.471920   8.813739
1208  0500000US24031         Montgomery County, Maryland  ...   6.814453   8.580802
1783  0500000US34017           Hudson County, New Jersey  ...  10.228126   6.955335
617   0500000US17043             DuPage County, Illinois  ...   5.891727   6.936545
2242  0500000US41067           Washington County, Oregon  ...   4.591132   6.919399

[25 rows x 9 columns]

In [ ]:
#Exporting files
df_merge.to_csv('df_merge.csv') 
files.download('df_merge.csv')

In [ ]:
aboveavg_natl.to_csv('aboveavg_natl.csv') 
files.download('aboveavg_natl.csv')

In [ ]:
aboveavg_state.to_csv('aboveavg_state.csv') 
files.download('aboveavg_state.csv')

Comparing between 2010 & 2020

In [194]:
#Load 2010 data
county_10_raw = pd.read_csv("county_2010.csv")
county_10_raw['Label']=county_10_raw['Label'].str.strip()
#county_10_raw.Label.unique()
county_10_raw = county_10_raw[(county_10_raw['Label'].str.contains('Total:')) | (county_10_raw['Label'].str.contains('Asian alone'))]
county_10_raw

         Label  ... Yauco Municipio, Puerto Rico
0       Total:  ...                       42,043
5  Asian alone  ...                           35

[2 rows x 3222 columns]

In [195]:
county_10 = pd.melt(county_10_raw,id_vars=['Label'],var_name='County', value_name='Value')
county_10 = county_10.pivot(index='County', columns='Label', values='Value').reset_index()
county_10.columns = county_10.columns.str.replace(' ','_')
county_10.columns = county_10.columns.str.replace(':','')
county_10

Label                            County Asian_alone    Total
0      Abbeville County, South Carolina          75   25,417
1              Acadia Parish, Louisiana         137   61,773
2             Accomack County, Virginia         183   33,164
3                     Ada County, Idaho       9,407  392,365
4                    Adair County, Iowa          22    7,682
...                                 ...         ...      ...
3216               Yuma County, Arizona       2,324  195,751
3217              Yuma County, Colorado          23   10,043
3218               Zapata County, Texas          32   14,018
3219               Zavala County, Texas           4   11,677
3220       Ziebach County, South Dakota           2    2,801

[3221 rows x 3 columns]

In [196]:
#df_merge
county_10['County'].isin(df_merge['NAME']).value_counts()

True     3214
False       7
Name: County, dtype: int64

In [197]:
mismatch_10_terms = county_10[~county_10['County'].isin(df_merge['NAME'])]
mismatch_20_terms = df_merge[~df_merge['NAME'].isin(county_10['County'])]
print ( mismatch_10_terms.County )
print ( mismatch_20_terms.NAME )

179                          Bedford city, Virginia
824     Dona Ana County, New Mexico Doña Ana County
1582                     La Salle Parish, Louisiana
2293                 Petersburg Census Area, Alaska
2646                   Shannon County, South Dakota
2947             Valdez-Cordova Census Area, Alaska
2982               Wade Hampton Census Area, Alaska
Name: County, dtype: object
72             Chugach Census Area, Alaska
73        Copper River Census Area, Alaska
83            Kusilvak Census Area, Alaska
89              Petersburg Borough, Alaska
1143             LaSalle Parish, Louisiana
1803           Doña Ana County, New Mexico
2413    Oglala Lakota County, South Dakota
Name: NAME, dtype: object

In [198]:
#Fixing 2010 to 2020 changes
#https://www.census.gov/programs-surveys/geography/technical-documentation/county-changes/2010.html
#Addressing the 2010 file first using this: print ( df_merge[df_merge['NAME'].str.contains("Bedford")] )

#Bedford city became a part of Bedford County in 2013, added 6,222 population
#SO AFTER RENAMING NEED TO ADD TOGETHER THESE TWO ROWS
county_10.County = county_10.County.str.replace('Bedford city, Virginia', 'Bedford County, Virginia')

#tilde over the N was omitted in 2010
county_10.County = county_10.County.str.replace('Dona Ana County, New Mexico Doña Ana County', 'Doña Ana County, New Mexico')

#added space in 2010
county_10.County = county_10.County.str.replace('La Salle Parish, Louisiana', 'LaSalle Parish, Louisiana')

#Wrangell-Petersburg Census Area divided into the Wrangell Borough in 2008 and Petersburg Borough in 2013
#In 2008, it was already counted in Census separately from Petersburg – renaming 2010 file which said "Census Area" instead of "Borough"
county_10.County = county_10.County.str.replace('Petersburg Census Area, Alaska', 'Petersburg Borough, Alaska')

#Oglala Lakota County was renamed in 2015 to Shannon Cty 
county_10.County = county_10.County.str.replace('Oglala Lakota County, South Dakota', 'NEW Shannon County, South Dakota')
county_10.County = county_10.County.str.replace('Shannon County, South Dakota', 'Oglala Lakota County, South Dakota')
county_10.County = county_10.County.str.replace('NEW Shannon County, South Dakota', 'Shannon County, South Dakota')

###Chugach Census Area split into Chugach and Copper River – ask prof. how to address this

#Wade Hampton became Kusilvak Census Area in 2015
county_10.County = county_10.County.str.replace('Wade Hampton Census Area, Alaska', 'Kusilvak Census Area, Alaska')

mismatch_10 = df_merge[(df_merge['NAME'].str.contains('Bedford')) | 
                 (df_merge['NAME'].str.contains('Doña Ana')) | 
                 (df_merge['NAME'].str.contains('LaSalle Parish')) | 
                 (df_merge['NAME'].str.contains('Petersburg')) | 
                 (df_merge['NAME'].str.contains('Oglala Lakota ')) | 
                 (df_merge['NAME'].str.contains('Chugach')) | 
                 (df_merge['NAME'].str.contains('Copper River')) |
                 (df_merge['NAME'].str.contains('Kusilvak'))]

In [199]:
#Test mismatches again
county_10['County'].isin(df_merge['NAME']).value_counts()

True     3220
False       1
Name: County, dtype: int64

In [200]:
mismatch_10_terms = county_10[~county_10['County'].isin(df_merge['NAME'])]
mismatch_20_terms = df_merge[~df_merge['NAME'].isin(county_10['County'])]
print ( mismatch_10_terms.County )
print ( mismatch_20_terms.NAME )

2947    Valdez-Cordova Census Area, Alaska
Name: County, dtype: object
72         Chugach Census Area, Alaska
73    Copper River Census Area, Alaska
Name: NAME, dtype: object

In [201]:
#Convert variable type
county_10['Asian_alone'] = county_10.Asian_alone.str.replace(r'\D+', '')
county_10['Total'] = county_10.Total.str.replace(r'\D+', '')

In [202]:
county_10['Asian_alone'] = county_10['Asian_alone'].astype(float)
county_10['Total'] = county_10['Total'].astype(float)

In [203]:
#Calculate percent of Asian population in 2010
county_10['Pct_10'] = (county_10['Asian_alone']/county_10['Total'])*100
county_10.head(5)

Label                            County  Asian_alone     Total    Pct_10
0      Abbeville County, South Carolina         75.0   25417.0  0.295078
1              Acadia Parish, Louisiana        137.0   61773.0  0.221780
2             Accomack County, Virginia        183.0   33164.0  0.551803
3                     Ada County, Idaho       9407.0  392365.0  2.397513
4                    Adair County, Iowa         22.0    7682.0  0.286384

In [205]:
#Merge 2010 and 2020 together
df_1020 = pd.merge(df_merge, county_10, how="outer", left_on='NAME', right_on='County')
df_1020.rename(columns={'P1_001N': 'Total_20', 
                        'P1_006N': 'Asian_20',
                        'PCT': 'Pct_20',
                        'PCT_STATE': 'PctState_20',
                        'Asian_alone': 'Asian_10',
                        'Total': 'Total_10'
                        }, inplace=True)
df_1020

              GEO_ID                             NAME  ...  Total_10    Pct_10
0     0500000US01001          Autauga County, Alabama  ...   54571.0  0.868593
1     0500000US01003          Baldwin County, Alabama  ...  182265.0  0.739582
2     0500000US01005          Barbour County, Alabama  ...   27457.0  0.389700
3     0500000US01007             Bibb County, Alabama  ...   22915.0  0.096007
4     0500000US01009           Blount County, Alabama  ...   57322.0  0.204110
...              ...                              ...  ...       ...       ...
3218  0500000US72147   Vieques Municipio, Puerto Rico  ...    9301.0  0.064509
3219  0500000US72149  Villalba Municipio, Puerto Rico  ...   26073.0  0.042189
3220  0500000US72151   Yabucoa Municipio, Puerto Rico  ...   37941.0  0.150233
3221  0500000US72153     Yauco Municipio, Puerto Rico  ...   42043.0  0.083248
3222             NaN                              NaN  ...    9636.0  3.673724

[3223 rows x 12 columns]

In [207]:
#Difference between 2020 and 2010
df_1020['PCT_DIFF'] = df_1020['Pct_20'] - df_1020['Pct_10']
df_1020.sort_values('PCT_DIFF', ascending=False).head(25)

              GEO_ID                             NAME  ...     Pct_10   PCT_DIFF
239   0500000US06105       Trinity County, California  ...   0.681851  13.109112
445   0500000US13117          Forsyth County, Georgia  ...   6.224681  11.764200
2364  0500000US46005      Beadle County, South Dakota  ...   3.632601   7.182585
229   0500000US06085   Santa Clara County, California  ...  32.022370   7.178480
2874  0500000US51107         Loudoun County, Virginia  ...  14.739474   6.587781
2566  0500000US48085             Collin County, Texas  ...  11.216592   6.558440
187   0500000US06001       Alameda County, California  ...  26.125113   6.285505
1206  0500000US24027          Howard County, Maryland  ...  14.358465   5.588754
1792  0500000US34035      Somerset County, New Jersey  ...  14.113726   5.375736
2971  0500000US53033          King County, Washington  ...  14.605833   5.329841
227   0500000US06081     San Mateo County, California  ...  24.791948   5.327014
2602  0500000US48157          Fort Bend County, Texas  ...  16.975443   5.209980
1786  0500000US34023     Middlesex County, New Jersey  ...  21.397949   5.110748
1869  0500000US36081          Queens County, New York  ...  22.942662   4.521104
1871  0500000US36085        Richmond County, New York  ...   7.501973   4.455537
216   0500000US06059        Orange County, California  ...  17.865865   4.312215
193   0500000US06013  Contra Costa County, California  ...  14.439027   4.243361
2064  0500000US39041            Delaware County, Ohio  ...   4.268314   4.238906
2769  0500000US48491         Williamson County, Texas  ...   4.834165   4.135700
1858  0500000US36059          Nassau County, New York  ...   7.634457   4.129696
1376  0500000US27123         Ramsey County, Minnesota  ...  11.658737   3.925347
237   0500000US06101        Sutter County, California  ...  14.422032   3.879134
1783  0500000US34017        Hudson County, New Jersey  ...  13.389335   3.794125
2584  0500000US48121             Denton County, Texas  ...   6.561588   3.749614
2123  0500000US39159               Union County, Ohio  ...   2.730402   3.712323

[25 rows x 13 columns]

In [ ]:
df_1020.to_csv('df_1020.csv') 
files.download('df_1020.csv')