In [ ]:
#Install cenpy
!pip install cenpy

In [ ]:
#Setup
import altair as alt
import cenpy as cen
import pandas as pd
import geopandas as gpd
import numpy as np

from google.colab import files

In [3]:
#Load county data
all = pd.read_csv("county.csv")
df = all[['GEO_ID','NAME','P1_001N','P1_006N']]

#Remove first row, which has alternative column names
df = df.iloc[1: , :]

#Convert 001N(Total) & 006(Asian) to int
df['P1_001N'] = df['P1_001N'].astype(int)
df['P1_006N'] = df['P1_006N'].astype(int)

In [4]:
#Create new variables in county
#Make percent variable
df['PCT'] = (df['P1_006N']/df['P1_001N'])*100

#Separate name into county and state variables
df['COUNTY'] = df['NAME'].str.split(',').apply(lambda x: x[0])

#Make state variable
df['STATE'] = df['NAME'].str.split(',').apply(lambda x: x[1])

#Strip extra spaces
df['STATE']=df['STATE'].str.strip()

In [5]:
#Load state data
all_state = pd.read_csv("state.csv")
state = all_state[['GEO_ID','NAME','P1_001N','P1_006N']]

#Remove first row, which has alternative column names
state = state.iloc[1: , :]

#Duplicate NAME variable as state
state['STATE'] = state['NAME']

#Strip extra spaces
state['STATE'] = state['STATE'].str.strip()

#Convert variable types
state['P1_001N'] = state['P1_001N'].astype(int)
state['P1_006N'] = state['P1_006N'].astype(int)

#Make percent variable and convert type
state['PCT_STATE'] = (state['P1_006N']/state['P1_001N'])*100
#state['PCT_STATE'] = state['PCT_STATE'].astype(int)

#Creating dataset with only state and percent for merge
state_pct = state[['STATE','PCT_STATE']]
state_pct

                   STATE  PCT_STATE
1                Alabama   1.525791
2                 Alaska   6.003892
3                Arizona   3.599663
4               Arkansas   1.721354
5             California  15.392566
6               Colorado   3.460978
7            Connecticut   4.782520
8               Delaware   4.313257
9   District of Columbia   4.864802
10               Florida   2.988562
11               Georgia   4.471920
12                Hawaii  37.237188
13                 Idaho   1.459187
14              Illinois   5.891727
15               Indiana   2.475253
16                  Iowa   2.370541
17                Kansas   2.936573
18              Kentucky   1.651769
19             Louisiana   1.855786
20                 Maine   1.233008
21              Maryland   6.814453
22         Massachusetts   7.225320
23              Michigan   3.317347
24             Minnesota   5.242974
25           Mississippi   1.104557
26              Missouri   2.167001
27               Montana   0.765524
28              Nebraska   2.699510
29                Nevada   8.783797
30         New Hampshire   2.604011
31            New Jersey  10.228126
32            New Mexico   1.769474
33              New York   9.569344
34        North Carolina   3.286122
35          North Dakota   1.695944
36                  Ohio   2.529856
37              Oklahoma   2.297067
38                Oregon   4.591132
39          Pennsylvania   3.926115
40          Rhode Island   3.550369
41        South Carolina   1.767458
42          South Dakota   1.519849
43             Tennessee   1.962352
44                 Texas   5.439878
45                  Utah   2.458663
46               Vermont   1.795897
47              Virginia   7.130205
48            Washington   9.481757
49         West Virginia   0.842330
50             Wisconsin   2.981174
51               Wyoming   0.903526
52           Puerto Rico   0.121764

In [6]:
#Test matches for merge
df['STATE'].isin(state_pct['STATE']).value_counts()

True    3221
Name: STATE, dtype: int64

In [ ]:
#Merge in state averages
df_merge = pd.merge(df, state_pct, how="outer", on='STATE')
df_merge

In [10]:
#Filter by greater than national average (~7.2%)
aboveavg = df_merge[df_merge['PCT']>7.2]
aboveavg

              GEO_ID                                NAME  ...       STATE  PCT_STATE
67    0500000US02013      Aleutians East Borough, Alaska  ...      Alaska   6.003892
68    0500000US02016  Aleutians West Census Area, Alaska  ...      Alaska   6.003892
69    0500000US02020      Anchorage Municipality, Alaska  ...      Alaska   6.003892
72    0500000US02063         Chugach Census Area, Alaska  ...      Alaska   6.003892
81    0500000US02130   Ketchikan Gateway Borough, Alaska  ...      Alaska   6.003892
...              ...                                 ...  ...         ...        ...
2936  0500000US51685        Manassas Park city, Virginia  ...    Virginia   7.130205
2950  0500000US51810       Virginia Beach city, Virginia  ...    Virginia   7.130205
2970  0500000US53033             King County, Washington  ...  Washington   9.481757
2984  0500000US53061        Snohomish County, Washington  ...  Washington   9.481757
2991  0500000US53075          Whitman County, Washington  ...  Washington   9.481757

[94 rows x 8 columns]

In [14]:
#Filter by greater than their state average
aboveavg_cty = df_merge.query('PCT > PCT_STATE')
aboveavg_cty

              GEO_ID                              NAME  ...        STATE  PCT_STATE
15    0500000US01031            Coffee County, Alabama  ...      Alabama   1.525791
36    0500000US01073         Jefferson County, Alabama  ...      Alabama   1.525791
40    0500000US01081               Lee County, Alabama  ...      Alabama   1.525791
41    0500000US01083         Limestone County, Alabama  ...      Alabama   1.525791
44    0500000US01089           Madison County, Alabama  ...      Alabama   1.525791
...              ...                               ...  ...          ...        ...
3190  0500000US72093    Maricao Municipio, Puerto Rico  ...  Puerto Rico   0.121764
3192  0500000US72097   Mayagüez Municipio, Puerto Rico  ...  Puerto Rico   0.121764
3207  0500000US72127   San Juan Municipio, Puerto Rico  ...  Puerto Rico   0.121764
3212  0500000US72137   Toa Baja Municipio, Puerto Rico  ...  Puerto Rico   0.121764
3215  0500000US72143  Vega Alta Municipio, Puerto Rico  ...  Puerto Rico   0.121764

[324 rows x 8 columns]

In [ ]:
#Exporting files
df_merge.to_csv('df.csv') 
files.download('df.csv')

In [ ]:
df_merge.to_csv('aboveavg.csv') 
files.download('aboveavg.csv')

In [ ]:
aboveavg_cty.to_csv('aboveavg_cty.csv') 
files.download('aboveavg_cty.csv')